
@{
    ViewBag.Title = "Stranica 2";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stranica2</title>
</head>
<body>
    <div> 
        @section Detalji{
            <p style="background-color:lightblue;">Detalji stranice 2</p>}
    </div>
</body>
</html>
